.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    background-position-y: 50px;
}

