
.container {
        display: flex;
        flex-direction: column;
        height: 88vh;
        background-image: url(../img/container/fundocontainer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y:-100px;
    }
