.cad_container {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-image: url(../img/cadastro/fundocontainer/317234.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cad_boxglobal {
    width: 40%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border: black solid 2px;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.cad_box {
    width: 40%;
    height: 75%;
    margin-top: 5%;
    background-color: rgba(255, 255, 155, 0.20);
    border-radius: 35px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.cad_inp {
    width: 50%;
    height: 10%;
    justify-content: center;
    align-self: center;
    border: black solid 0px;
    border-radius: 25px;
    outline: 0;
}

.cad_inp::placeholder{
    text-align: center;
    font-weight: bolder;
    color: black;
}

.cad_inp:focus {
    text-align: center;
    font-weight: bolder;
    color: black;
}

.cad_inp, textarea {
    text-align: center;
    font-weight: bolder;
    color: black;
}

.log_btn {
    width: 50%;
    height: 10%;
    background-color: white;
    border: black solid 2px;
    border-radius: 25px;
    font-weight: bolder;
}

.log_btn:hover {
    color: white;
    background-color: black;
    border-color: white;
    transition: 0.33ms;
}



.cad_text {
    margin-bottom: 20px;
}

.cad_title {
    margin-top: 20px;
}